.idea
pose-estimator/poses_2d.json
pose-estimator/poses_3d.json
pose-estimator/*.png
pose-estimator/*.jpg
lifting/*.json
*.pyc
*.pth
*.onnx
pose-estimator/poses_2d.json
pose-estimator/poses_3d.json
pose-estimator/Finetuning_Lifting_2D_3D_Signs/Dataset creation/*_cache/*.json
pose-estimator/Finetuning_Lifting_2D_3D_Signs/Dataset creation/*.json